.register-component{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-control  {
    height: 50px;
    width: 350px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
  }
   h1 {
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0;
  
  }
  button{
    background-color: blue;
    color: antiquewhite;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
span:not(.register) {
    margin-left: 90px;
  }
  .register{
      margin-left: 10px;
  }
  .footer { 
    display: flex;
    margin-top: 15px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgb(179, 32, 32);
  }
  .footer > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
  }
  
  
  
  
  
  
  
  
  